
:root {
  --black: #3a3a3a;
  --white: #fff;
  --green: #49b293;
}

*, html, body {
   margin: 0;
   padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  transform: scale(0.9);
  margin: 2px 0;
  color: var(--white);
  font: 1rem/1.3 sans-serif;
  background-color: black;
}


.author-archive {
  padding: 0rem;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.container a{
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration:none;
  }

h1 {
  transform: scale(2.0);
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

h2 {
  text-align: left;
  margin-bottom: 1rem;
}

h1 a {
  transition: all 0.1s;
}

h1 a:hover {
  background: var(--green);
  color: var(--black);
}

input[type="radio"] {
  position: absolute;
  left: -9999px;
}



.filters {
  text-align: center;
  margin-bottom: 2rem;
}

.filters * {
  display: inline-block;
}

.filters label {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 2rem;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
}

.filters label:hover {
  background: var(--green);
  color: var(--white);
}

.card{
  padding: 1rem;
}


.card-content {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(5, 1fr);
}

.card-content .card {
  background: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.card-info .post-title a {
  font-size: 1.3rem;
  color: #fff;
}

.card-content .post-title:hover {
  text-decoration: underline;
}


.card-content figcaption {
  padding: 1rem;
}

.card-info{
  position: relative;
  color:#fff;
}

.card-info .post-categories a{
  color: #fff;
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
}

.card-content .post-categories * {
  display: inline-block;
}

.card-content .post-categories li {
  margin-bottom: 0.2rem;
}

.card-content .post-categories a {
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  border: 1px solid;
  line-height: normal;
  transition: all 0.1s;
}

.card-content .post-categories a:hover {
  background: var(--green);
  color: var(--white);
}



[value="All"]:checked ~ .filters [for="All"],
[value="scifi"]:checked ~ .filters [for="scifi"],
[value="fiction"]:checked ~ .filters [for="fiction"],
[value="programming"]:checked ~ .filters [for="programming"],
[value="action"]:checked ~ .filters [for="action"],
[value="biography"]:checked ~ .filters [for="biography"],
[value="horror"]:checked ~ .filters [for="horror"],
[value="adventure"]:checked ~ .filters [for="adventure"],
[value="science"]:checked ~ .filters [for="science"] {
  background: var(--green);
  color: var(--white);
}

[value="All"]:checked ~ .card-content [data-category] {
  display: block;
}

[value="scifi"]:checked ~ .card-content .card:not([data-category~="scifi"]),
[value="fiction"]:checked ~ .card-content .card:not([data-category~="fiction"]),
[value="programming"]:checked ~ .card-content .card:not([data-category~="programming"]),
[value="action"]:checked ~ .card-content .card:not([data-category~="action"]),
[value="horror"]:checked ~ .card-content .card:not([data-category~="horror"]),
[value="adventure"]:checked ~ .card-content .card:not([data-category~="adventure"]),
[value="biography"]:checked ~ .card-content .card:not([data-category~="biography"]),
[value="science"]:checked ~ .card-content .card:not([data-category~="science"]) {
  display: none;
}

.pagination{
  text-align: center;
  margin: 0 600px;
  user-select: none;
}

.pagination {
  display: inline-block;
}

.pagination a {
  transition: background-color .3s;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination li{
  display: inline-block;
  margin: 20px;
}

.pagination li a{
  color: #fff;
  text-decoration: none;
  font-size: 8mm;
  line-height: 45px;
}

.previous-page .next-page{
  background: #000000;
  width: 80px;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s ease;
}

.previous-page:hover{
  transform: translateX(-5px);
}

.next-page:hover{
  transform: translateX(5px);
}

.current, .dots {
  background: #000000;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.active{
  background-color: #3a3a3a;
}

footer {
  font-size: 1rem;
  padding: 0 1.5rem;
  text-align: right;
}

footer span {
  color: #e31b23;
}




@media screen and (max-width: 900px) {
  .card-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 14px;
  }

  .card-content {
    grid-template-columns: repeat(2, 1fr);
  }
}







